.highlightText {
  /* background: linear-gradient(to right, #a78bfa, #c084fc); */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  /* background: linear-gradient(to right, #5e87f5, #a78bfa); */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* background: linear-gradient(to right, #a855f7, #3b82f6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}

@keyframes pulse {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}
 .gradient-text {
  background: linear-gradient(to right, #000000, #2c3e50);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}  
