.galleryContainer {
  min-height: 100vh;
}

.heading {
  font-size: 2.2rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
  color: #000000;
}

.subheading {
  font-size: 1.5rem;
  margin: 30px 0 10px 0;
  color: #363333;
  font-weight: bold;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 20px;
}

.imageCard {
  cursor: pointer;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  height: 200px;
  position: relative;
}

.imageCard:hover .image {
  transform: scale(1.07);
}

.image {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  transition: transform 0.3s ease;
}

/* Modal Styling */
.modal {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.85);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.modalContent {
  position: relative;
  max-width: 90%;
  max-height: 90%;
}

.fullImage {
  width: 100%;
  max-height: 90vh;
  border-radius: 8px;
  object-fit: contain;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: white;
  padding: 8px 10px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

.closeButton:hover {
  background-color: #eee;
}